#top{
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#top button {
    background-color: #6d00b6; /* Zielone tło */
    color: white; /* Biały tekst */
    padding: 10px 20px; /* Odstępy */
    margin: auto;
    margin-right: 30px;
    height: 60px;
    border: none; /* Brak obramowania */
    border-radius: 5px; /* Zaokrąglone rogi */
    font-size: 16px; /* Rozmiar czcionki */
    }

    #top button:hover {
    background-color: #0703ca; /* Ciemniejsza zieleń po najechaniu */
}