@import url('game.css');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    display: flex !important;
    flex-direction: column !important;
    text-align: center;
    font-size: 30px;
    background-color: rgb(0, 0, 0, 0.9) !important;
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
}

#userCardContainer {
    margin-top: 20px;
}
