/* Reset some default styling */
body, h1, h2 {
    margin: 0;
    padding: 0;
  }
  
    body {
        font-family: Arial, sans-serif;
        background-color: #444040;
    }
  
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: palevioletred;
        padding: 10px;
    }
    header img {
        width: 200px;
        height: auto;
    }
    
    header h1 {
    color: white; 
    }
    
    button {
    background-color: rgb(24, 168, 144); 
    border-radius:5px; 
    padding :5px; 
    border:none; 
    cursor:pointer; 
    }
    
    main .welcome-message {
        width: 80%;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        background-color:rgb(153, 145, 146); 
        color:white;  
        padding :20px ;
        text-align:center ;
    }

    main button {
        font-size: large;
        background-color: rgb(201, 19, 19); 
        border-radius: 15px; 
        padding :15px; 
        border:none; 
        cursor:pointer; 
    }


